{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}{/block}

<!--内容-->
{block name="main"}

<section class="banner-bottom" style="background-color: #28272F;">
	<div class="container">
		<h3 class="tittle">
			<span class="span-f">
				{$title}
			</span>
		</h3>
		<div class="row inner-sec" >
			<img alt="" width="100%" src="/static/index/images/profit/e1.jpg" />

			<div class="col-lg-6 banner-btm-left">
				<div class="banner-btm-top">
					<div class="banner-btm-inner a1 text-left">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							品牌形象使用权
						</a>
						<p class="paragraph">
							品牌资源共享权。如品牌形象营销方案、装修方案、设备器具方案、产品技术等，确保合作伙伴顺利运营。
						</p>
					</div>
					<div class="banner-btm-inner a1 text-left" style="background-color: #28272F;">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							行销物料使用权
						</a>
						<p class="paragraph">
							一纸馋统一设计制定的posm辅助销售材料的使用权。
						</p>
					</div>
				</div>
				<div class="banner-btm-bottom">
					<div class="banner-btm-inner a1 text-left" style="background-color: #28272F;">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							持续督导服务权
						</a>
						<p class="paragraph">
							总部建有完善的督导网络，督导专员不定期下店巡回指导经营，对各品牌店服务人员进行系统培训等。
						</p>
					</div>
					<div class="banner-btm-inner a4 text-left">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							区域经营保护权
						</a>
						<p class="paragraph">
							实行严格的商圈保护政策，一定区域内限额开店，通过完善运营、监管机制稳定市场，避免恶性竞争。
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 banner-btm-left">
				<div class="banner-btm-top">
					<div class="banner-btm-inner a1 text-left">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							建店开业支持权
						</a>
						<p class="paragraph">
							严格规范的店面装修布置以及开业方案等开业筹备工作，确保品牌店运营的标准化和一致性。
						</p>
					</div>
					<div class="banner-btm-inner a1 text-left" style="background-color: #28272F;">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							技术服务培训权
						</a>
						<p class="paragraph">
							一纸馋全套技术工艺、设备器具使用等培训权，接受培训人员须通过考核后方能毕业上岗，确保合作店独立运营。
						</p>
					</div>
				</div>
				<div class="banner-btm-bottom">
					<div class="banner-btm-inner a1 text-left" style="background-color: #28272F;">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							广告资源分享权
						</a>
						<p class="paragraph">
							总部将长期提供统一的品牌全国性广告宣传，提升品牌形象，扩大品牌声誉度、市场感召力。
						</p>
					</div>
					<div class="banner-btm-inner a4 text-left">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							市场信息分享权
						</a>
						<p class="paragraph">
							市场分析及相关区域客户数据库的分享权；向总部汇报市场信息、客户数据和建议权。
						</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6 banner-btm-left">
				<div class="banner-btm-top">
					<div class="banner-btm-inner a1 text-left">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							快速物流配送权
						</a>
						<p class="paragraph">
							总部统一供应配送物料，严格精选商品质量。共享集团采购价格及快速物流配送。
						</p>
					</div>
					<div class="banner-btm-inner a2" style="background-image: url(/static/index/images/profit/bg1.png);">
					</div>
				</div>
			</div>
			<div class="col-lg-6 banner-btm-left">
				<div class="banner-btm-top">
					<div class="banner-btm-inner a1 text-left" style="padding-bottom: 0px;">
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							经营资产使用权
						</a>
						<p class="paragraph">
							总部的经营技术资产，如：营销理念、广告策划、广告投放、员工培训、人力资源、品牌管理、财务管理、物流管理、风险预警等经营技术资产。
						</p>
					</div>
					<div class="banner-btm-inner a5" style="background-image: url(/static/index/images/profit/bg2.png);">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{/block}

{block name="model"}{/block}