{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}{/block}

<!--内容-->
{block name="main"}

<section class="banner-bottom" style="background-color: #28272F;">
	<div class="container">
		<h3 class="tittle">
			<span class="span-f">
				{$title}
			</span>
		</h3>
		<div class="row inner-sec" >
			<img alt="" width="100%" src="/static/index/images/profit/1.png" />
			<img alt="" width="100%" src="/static/index/images/profit/2.png" />
			<img alt="" width="100%" src="/static/index/images/profit/3.png" />
			<img alt="" width="100%" src="/static/index/images/profit/4.png" />
			<img alt="" width="100%" src="/static/index/images/profit/5.png" />
			<img alt="" width="100%" src="/static/index/images/profit/6.png" />
			<img alt="" width="100%" src="/static/index/images/profit/7.png" />
			<img alt="" width="100%" src="/static/index/images/profit/8.png" />
			<img alt="" width="100%" src="/static/index/images/profit/9.png" />
			<img alt="" width="100%" src="/static/index/images/profit/10.png" />
		</div>
	</div>
</section>

{/block}

{block name="model"}{/block}