{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}{/block}

<!--内容-->
{block name="main"}

<section class="banner-bottom" style="background-color: #28272F;">
	<div class="container">
		<h3 class="tittle">
			<span class="span-f">
				{$title}
			</span>
		</h3>
		<div class="row inner-sec" >
			<div class="col-lg-6 banner-btm-left">
				<div class="banner-btm-top">
					<div class="banner-btm-inner a1 text-left">
						<div class="blog_date">
							<h4>1</h4>
						</div>
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							投资咨询
						</a>
						<p class="paragraph">
							投资者以电话、传真、网上留言等方式向总部咨询相关合作事宜，索取相关资料。
						</p>
					</div>
					<div class="banner-btm-inner a1 text-left" style="background-color: #28272F;">
						<div class="blog_date">
							<h4>2</h4>
						</div>
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							填写申请
						</a>
						<p class="paragraph">
							提交意向申请书，总部收到申请后，进行合作资质评估。
						</p>
					</div>
				</div>
				<div class="banner-btm-bottom">
					<div class="banner-btm-inner a2" style="background-image: url(/static/index/images/profit/bg1.png);">
					</div>
					<div class="banner-btm-inner a1 text-left">
						<div class="blog_date">
							<h4>5</h4>
						</div>
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							人员培训
						</a>
						<p class="paragraph">
							总部派专人进行一对一的技术以及运营培训。
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 banner-btm-left">
				<div class="banner-btm-top">
					<div class="banner-btm-inner a1 text-left">
						<div class="blog_date">
							<h4>3</h4>
						</div>
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							考察签约
						</a>
						<p class="paragraph">
							总部出具可行性实施方案，签订特许合同，授予特许经营证书、授权牌照。
						</p>
					</div>
					<div class="banner-btm-inner a1 text-left" style="background-color: #28272F;">
						<div class="blog_date">
							<h4>4</h4>
						</div>
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							店面选址
						</a>
						<p class="paragraph">
							总部协助投资者进行选址考察，确定更优的店面选址。
						</p>
					</div>
				</div>
				<div class="banner-btm-bottom">
					<div class="banner-btm-inner a5" style="background-image: url(/static/index/images/profit/bg3.png);">
					</div>
					<div class="banner-btm-inner a4 text-left">
						<div class="blog_date">
							<h4>6</h4>
						</div>
						<a href="javascript:void(0);" class="blog-btn" data-aos="fade-down">
							开业运营
						</a>
						<p class="paragraph">
							总部全程指导开业筹备及跟进经营运作，提供持续的产品创新、技术培训等服务。
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{/block}

{block name="model"}{/block}