{extend name="public/index" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}
<!--swiper-->
<link rel="stylesheet" href="/static/index/swiper/css/swiper.min.css">
<!-- Swiper JS -->
<script src="/static/index/swiper/js/swiper.min.js"></script>
{/block}

<!--内容-->
{block name="main"}

<style>
    .my-blog-item img {
        box-shadow: 2px 2px 3px 2px aliceblue;
        margin: 0 15px;
        width: 250px;
    }
    .floods-text{
        background-color: #184799;
        margin: 0 1em;
    }
</style>
<section class="banner-bottom">
    <div class="container">
        <h3 class="tittle">
            <span class="span-d">
            菜品推荐
            </span>
        </h3>
        <div class="row inner-sec">
            {notempty name='product'}
            {volist name='product' id='val'}
            <div class="my-blog-item text-center">
                <img src="{$val.img|get_file_path}" alt="{$val.desc}" class="img-fluid"/>
                <div class="floods-text">
                    <h3>{$val.title}</h3>
                </div>
            </div>
            {/volist}
            {/notempty}
        </div>
    </div>
</section>

<style>
    .intrbox {
        width: 1200px;
        height: 356px;
        margin-top: 57px;
        position: relative
    }
    .introut {
        width: 1200px;
        height: 356px;
        overflow: hidden;
        position: relative
    }
    .introut img {
        width: 1200px;
        height: 357px
    }
    .introut .cover {
        width: 700px;
        height: 357px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        padding-top: 88px;
        color: #fff;
        padding-right: 152px;
        padding-left: 180px;
        position: absolute;
        right: 0;
        top: 0px;
        background: url(/static/index/images/index/184799.png)
    }
    .introut:hover .cover {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    .introut .btn {
        color: #fff;
        border: 1px solid #fff;
        padding: 5px ;
        border-radius: 10px;
    }
    .introut p{
        color: black;
        margin-bottom:10px;
    }
    .introut .btn:hover {
        background: #000;
        border-color: #000
    }
    .trans p {
        color: #fff;
        text-indent: 2em;
    }
</style>
<section class="grid-info-section">
    <div class="container">
        <h3 class="tittle">
            <span class="span-f">
            公司介绍
            </span>
        </h3>
        <div class="row">
            <div class="intrbox">
                <div class="introut">
                    <img alt="" src="/static/index/images/index/team.jpg" />
                    <div class="cover trans">
                        <h3>成都餐协餐饮管理有限公司</h3>
                        <p>成都餐协餐饮管理有限公司，于二零一二年在享有“美食之都”之称的成都成立。成都餐协坚持以餐饮管理服务为本，坚持多元化发展方向、以市场经营为导向，在稳步发展中不断创新，形成了集运营管理、技术培训以及服务支持为一体的完整运营体系。集团自成立以来始终为成为中国更绿色更健康的餐饮运营服务商而努力，坚持“为顾客创造价值，与顾客共同成长”的宗旨。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .blog-item img {
        box-shadow: 0px 0px black;
    }
    #swiper_container_store {
        margin: 0 auto;
        padding-top: 4px;
    }
    #swiper_container_store .swiper-wrapper {
        -webkit-transition-timing-function: linear; /*之前是ease-out*/
        -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
        margin: 0 auto;
    }
    #swiper_container_store img{
        width: 270px;
        border: 0 none;
        vertical-align: top;
    }
    #swiper_container_store p{
        color: #FFF;
        font-size: 2em;
        background-color: #184799;
        text-indent: 0;
        text-align: center;
    }
    #btn-prex-store,#btn-next-store{
        position: absolute;
        cursor: pointer;
        z-index: 100;
        padding-top: 100px;
        color: #D6664E;
    }
    #btn-prex-store{
        left: -50px;
    }
    #btn-next-store{
        right: -50px;
    }
</style>
<section class="banner-bottom">
    <div class="container">
        <h3 class="tittle">
            <span class="span-d">
                STORE DISPLAY
            </span>
        </h3>
        <div class="row inner-sec">
            <div class="swiper-button-prev" id="btn-prex-store"></div>
            <div class="swiper-container swiper_container_store" id="swiper_container_store">
                <div class="swiper-wrapper">
                    {notempty name='store'}
                    {volist name='store' id='val'}
                    <div class="swiper-slide swiper-slide-store">
                        <div>
                            <img src="{$val.img|get_file_path}" alt="{$val.desc}" class="img-fluid" />
                            <p>{$val.title}</p>
                        </div>
                    </div>
                    {/volist}
                    {/notempty}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination" id="swiper-pagination-store"></div>
            </div>
            <div class="swiper-button-next" id="btn-next-store"></div>
        </div>
        <script>
            var swiper_store = new Swiper('.swiper_container_store', {
                grabCursor: true,
                speed: 5000,
                /*slidesPerView: 4,*/
                slidesPerView: 'auto',
                spaceBetween: 20,
                loop: true,
                autoplay: {
                    delay: 0,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '#swiper-pagination-store',
                    type: 'progressbar',
                },
                /*breakpointsInverse: false,*/
                breakpoints: {
                    //当宽度大于等于
                    270: {
                        slidesPerView: 1,
                        spaceBetween: 10
                    },
                    540: {
                        slidesPerView: 2,
                        spaceBetween: 20
                    },
                    810: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    },
                    1080: {
                        slidesPerView: 4,
                        spaceBetween: 20
                    }
                }
            });
            /*鼠标移入停止轮播，鼠标离开 继续轮播*/
            //鼠标覆盖停止自动切换
            swiper_store.el.onmouseover = function(){
                swiper_store.autoplay.stop();
            }

            //鼠标离开开始自动切换
            swiper_store.el.onmouseout = function(){
                swiper_store.autoplay.start();
            }
            $("#btn-next-store").click(function(){
                swiper_store.params.autoplay.reverseDirection=false;
            });
            $("#btn-prex-store").click(function(){
                swiper_store.params.autoplay.reverseDirection=true;
            });
        </script>
    </div>
</section>

{/block}