{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}{/block}

<!--内容-->
{block name="main"}

<section class="banner-bottom">
	<div class="container">
		{include file="public/title" /}
		<div class="row inner-sec" >
			<img alt="" width="100%" src="/static/index/images/poster/1.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/2.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/3.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/4.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/5.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/6.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/7.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/8.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/9.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/10.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/11.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/12.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/13.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/14.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/15.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/16.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/17.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/18.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/19.jpg" />
			<img alt="" width="100%" src="/static/index/images/poster/20.jpg" />
		</div>
	</div>
</section>

{/block}

{block name="model"}{/block}