{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}{/block}

<!--内容-->
{block name="main"}

<section class="banner-bottom">
	<div class="container">
		{include file="public/title" /}
		<div class="row inner-sec">
			<img alt="" width="100%" src="/static/index/images/project/g01.jpg" />
			<img alt="" width="100%" src="/static/index/images/project/g02.jpg" />
			<img alt="" width="100%" src="/static/index/images/project/g03.jpg" />
			<img alt="" width="100%" src="/static/index/images/project/g04.jpg" />
			<img alt="" width="100%" src="/static/index/images/project/g05.jpg" />
			<img alt="" width="100%" src="/static/index/images/project/g06.jpg" />
			<img alt="" width="100%" src="/static/index/images/project/g07.jpg" />
			<img alt="" width="100%" src="/static/index/images/project/g08.jpg" />
		</div>
	</div>
</section>

{/block}

{block name="model"}{/block}