{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}{/block}

<!--内容-->
{block name="main"}

<section class="banner-bottom">
	<div class="container">
		{include file="public/title" /}
		<div class="row inner-sec">
			<img alt="" width="100%" src="/static/index/images/project/g1.png" />
			<img alt="" width="100%" src="/static/index/images/project/g2.png" />
			<img alt="" width="100%" src="/static/index/images/project/g3.png" />
			<img alt="" width="100%" src="/static/index/images/project/g4.png" />
			<img alt="" width="100%" src="/static/index/images/project/g5.png" />
			<img alt="" width="100%" src="/static/index/images/project/g6.png" />
			<img alt="" width="100%" src="/static/index/images/project/g7.png" />
			<img alt="" width="100%" src="/static/index/images/project/g8.png" />
			<img alt="" width="100%" src="/static/index/images/project/g9.png" />
			<img alt="" width="100%" src="/static/index/images/project/g10.png" />
		</div>
	</div>
</section>

{/block}

{block name="model"}{/block}