{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}{/block}

<!--内容-->
{block name="main"}

<section class="banner-bottom">
	<div class="container">
		{include file="public/title" /}
		<div class="row inner-sec">
			<img alt="" width="100%" src="/static/index/images/project/1.png" />
			<img alt="" width="100%" src="/static/index/images/project/2.png" />
			<img alt="" width="100%" src="/static/index/images/project/3.png" />
			<img alt="" width="100%" src="/static/index/images/project/4.png" />
			<img alt="" width="100%" src="/static/index/images/project/5.png" />
			<img alt="" width="100%" src="/static/index/images/project/6.png" />
			<img alt="" width="100%" src="/static/index/images/project/7.png" />
			<img alt="" width="100%" src="/static/index/images/project/8.png" />
			<img alt="" width="100%" src="/static/index/images/project/9.png" />
			<img alt="" width="100%" src="/static/index/images/project/10.png" />
		</div>
	</div>
</section>

{/block}

{block name="model"}{/block}