{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}{/block}

<!--内容-->
{block name="main"}

<section class="banner-bottom">
	<div class="container">
		{include file="public/title" /}
		<div class="row inner-sec" >
			<img alt="" width="100%" src="/static/index/images/contact/1.png" />
			<img alt="" width="100%" src="/static/index/images/contact/2.png" />
			<img alt="" width="100%" src="/static/index/images/contact/3.png" />
			<img alt="" width="100%" src="/static/index/images/contact/4.png" />
			<img alt="" width="100%" src="/static/index/images/contact/5.png" />
			<img alt="" width="100%" src="/static/index/images/contact/6.png" />
			<img alt="" width="100%" src="/static/index/images/contact/7.png" />
			<img alt="" width="100%" src="/static/index/images/contact/8.png" />
			<img alt="" width="100%" src="/static/index/images/contact/9.png" />
		</div>
	</div>
</section>

{/block}

{block name="model"}{/block}