

<div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {notempty name='nav'}
            <ul class="navbar-nav mx-auto">
                {volist name="nav" id="val"}
                    {empty name="val['arr']"}
                    <li class="nav-item" id="my-nav-pid-{$val.id}">
                        <a class="nav-link" href="{:url($val['url_value'])}{neq name='val.params' value=''}?{$val.params}{/neq}">{$val.title}</a>
                    </li>
                    {/empty}
                    {notempty name="val['arr']"}
                    <li class="nav-item dropdown" id="my-nav-pid-{$val.id}">
                        <a class="nav-link dropdown-toggle" href="#" id="brandDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            {$val.title}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="brandDropdown">
                            {volist name="val['arr']" id="v"}
                            <a class="dropdown-item" href="{:url($v['url_value'])}{neq name='v.params' value=''}?{$v.params}{/neq}">{$v.title}</a>
                            {if $i != count($val['arr'])}
                            <div class="dropdown-divider"></div>
                            {/if}
                            {/volist}
                        </div>
                    </li>
                    {/notempty}
                {/volist}
            </ul>
            {/notempty}
        </div>
    </nav>
    <script>
        $(document).ready(function(){
            var nav_pid = {$nav_pid};
            var str1 = '#my-nav-pid-' + nav_pid;
            $(str1).addClass('active');
        })
    </script>
</div>

<!--
<div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{:url('index/index/index')}">首页</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="brandDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        公司文化
                    </a>
                    <div class="dropdown-menu" aria-labelledby="brandDropdown">
                        <a class="dropdown-item" href="{:url('index/brand/index')}">品牌简介</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/brand/index')}">品牌文化</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/brand/index')}">品牌风采</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/brand/index')}">品牌动态</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        产品展示
                    </a>
                    <div class="dropdown-menu" aria-labelledby="productDropdown">
                        <a class="dropdown-item" href="{:url('index/product/index')}">纸包鱼</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/product/index')}">纸火锅</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/product/index')}">冒菜</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/product/index')}">卤菜</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/product/index')}">凉菜</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/product/index')}">饮品</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="projectDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        项目优势
                    </a>
                    <div class="dropdown-menu" aria-labelledby="projectDropdown">
                        <a class="dropdown-item" href="{:url('index/project/index')}">产品优势</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/project/index')}">扶持优势</a>
                    </div>
                </li>
                &lt;!&ndash;<li class="nav-item">
                    <a class="nav-link scroll" href="#menu">Menu</a>
                </li>&ndash;&gt;
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profitDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        盈利模式
                    </a>
                    <div class="dropdown-menu" aria-labelledby="brandDropdown">
                        <a class="dropdown-item" href="{:url('index/profit/index')}">合作支持</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/profit/index')}">客户权益</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/profit/index')}">合作流程</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/profit/index')}">合作条件</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="storiesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        成功案例
                    </a>
                    <div class="dropdown-menu" aria-labelledby="storiesDropdown">
                        <a class="dropdown-item" href="{:url('index/stories/index')}">效果图</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/stories/index')}">实体店</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/stories/index')}">加盟商</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{:url('index/poster/index')}">项目海报</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="contactDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        联系我们
                    </a>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="{:url('index/contact/index')}">联系我们</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('index/contact/index')}">在线留言</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</div>-->
